/* Estilos Para Paciente Page */
.divPaciente{
    display: flex;
    justify-content: space-evenly;
}
.tablaPaciente{
    border-collapse: collapse;
    text-align: center;
}
th,td{
    border-bottom: 1px solid transparent;
    padding: 8px;
}
/* Estilos para las filas impares */
tr:nth-child(odd) {
    background-color: #ffffff;
}
/* Estilos para las filas pares */
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.formPaciente{
    text-align: center;
}


/* Estilos Para Crear Paciente */
.inputPaciente{
    padding: 6px 10px;
    margin-bottom: 5px;
    width: 75%;
}
.guardaPaciente{
    padding: 10px 10px;
    width: 75%;
    font-size: large;
}

/* Estilos Para Ver Paciente */
.verPaciente{
    border: solid 2px black;
    margin: 20px;
    padding: 20px;
}
.datosPaciente{
    display: flex;
    justify-content: space-around;
}
.datosPersonales{
    width: 45%;
}
.datosTarjeta{
    width: 45%;
}
.medicosPaciente{
    margin: 15px 25px;
}
.mostrarMedicoPaciente{
    display: grid;
    grid-template-columns: auto auto auto;
}

/* Estilos Para Borrar Paciente */
.borrarPaciente{
    border: 0;
    padding: 0px;
    text-decoration: underline;
    background-color: transparent;
}

/* Estilos Para Modificar Paciente */
.inputUpdatePaciente{
    padding: 6px 10px;
    margin-bottom: 5px;
    width: 75%;
    margin-left: 10%;
}
.tituloUpdatePaciente{
    text-align: center;
}
.labelUpdatePaciente{
    margin-left: 10%;
}
.botonUpdatePaciente{
    padding: 10px 10px;
    width: 30%;
    font-size: large;
    margin-left: 12%;
}
